
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.title{
    width:98vw;
    height:5rem;
    text-align: center;
    margin:5rem 0 2rem 0;
    display:block;
}
.title img{
    width:15.5rem;
    height: 2.7rem;
    margin:0 0 1rem 0;
}
.title p{
    font-size: 1.3rem;
    font-family: Linux Libertine,Georgia,Times,serif;
}
.logo-idiomas{
    display:grid;
    grid-template-columns: auto auto;
}
.left-idioms, .rigth-idioms{
    display:grid;
    
}
.left-idioms{
    width:49vw;
    padding-left: 25vw;
}   
.rigth-idioms{
    padding-right: 25vw;
    width:49vw;
}
.container{
    display: flex;
    flex-direction: column;
    height: 4.58rem;
    width:14rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.container:hover{
    background:#eaecf0;
}

.link-grande{
    font-size:1.6rem;
    text-decoration: none;
    color:#36c;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
}
.link-grande:hover{
    text-decoration: underline;
}
.link-pequeño{
    font-size:1.3rem;
    text-decoration: none;
    color:#54595D;
}


.English, .Portugues,.Chino1,.Arabe1{
    display:grid;
    grid-template-columns: 1.5fr 3.5fr 3.5fr 1.5fr;
}
#english, #portugues{
    grid-column:3;
}

#chino1, #arabe1{
    grid-column:2;
}


.Español, .Italiano{
    display:grid;
    grid-template-columns: 3.3fr 3.7fr 3fr;
}

#español, #italiano{
    grid-column:2;
}
.Ruso, .Chino2{
    display:grid;
    grid-template-columns: 3fr 3.7fr 3fr;
}
#ruso, #chino2{
    grid-column:2;
}

.Frances{
    display: grid;
    grid-template-columns: 3fr 3.8fr 3.2fr;
}
#frances{
    grid-column:2;
}
.Aleman{
    display: grid;
    grid-template-columns: 3.2fr 3.8fr 3fr;
}
#aleman{
    grid-column: 2;
}
.logo-wikipedia{
    position: absolute;
}
.logo-wikipedia img{
    position:relative;
    top:6rem;
    left:52rem;
}
.buscador{
    display:flex;
    justify-content: center;
}
.search{
    border:0.1rem solid grey ;
    width:42rem;
    height: 4rem;
    display: flex;
    align-items: center;
}
.search:active{
    border:0.2rem solid #36c ;
}

input{
    border:none;
    outline:none;
    margin:0 0 0 1rem;
    height: 70%;
    width:80%;
}
.Idioma-español, .Flechita-abajo{
    width:2rem;
    height: 2rem;
    color:#54595D;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
    display: grid;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    margin:0 0.5rem
}


.Lupita{
    width:4rem;
    height: 4rem;
    background-color: #36c;
}
.Leer-en-tu-idioma{
    display:flex;
    justify-content: center;
    padding:3rem 0;
    border-bottom:0.005rem solid #c8ccd1;
    margin:0 3rem;
}
.rayita{
    display: grid;
    width:7%;
    align-content: center;
    padding:0 1rem;
}
.rayita hr{
    color:#c8ccd1;
}

.read-in-your-idiom{
    background-color: transparent;
    color:#36c;
    font-weight: bold;
    display: flex;
    align-items: center;
    border:0.1rem solid grey;
    outline:none;
    cursor:pointer ;
}
.read-in-your-idiom img{
    width:2rem;
    height: 2rem;
    margin:0.5rem 1rem;
}
.up-footer{
    padding:4rem 1.2rem 3rem 1.2rem;
    display: grid;
    grid-template-columns: 1fr 1.8fr;
}

.left-section{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.rigth-section{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.cards-rigth{
    display: flex;
    padding:1.3rem;
}
.cards-rigth:hover{
    background-color:#eaecf0;
}
.context a{
    text-decoration: none;
    color:#36c;
    font-size: 1.4rem;
}
.context,.left-section,.down-footer{
    padding:0 2rem 0 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;

}
.context p, .cards-left p, .cards-left a, .down-footer p, .down-footer a{
    font-size:1.3rem;
    color:#54595D;
}

.cards-rigth img, .left-section img{
    width: 4rem;
    height: 4rem;
}
.left-section .store{
    width:10rem;
    height: 3.5rem;
    border-radius: 0.5rem;
}
.cards-left{
    margin-left:4rem;
    padding:1rem 2rem 1rem 1rem;
    display: flex;
    gap:1rem;   
}
.cards-left a, .down-footer a{
    text-decoration: none;
    color:#36c;
}
.google-play-ios{
    padding-top:2rem;
    display: flex;
    justify-content: center;
    gap:1rem;
}
#descargar{
    background-color:#eaecf0;
}

.down-footer{
    display:flex;
    justify-content: center;
    padding:1rem 0;
    border-top:0.005rem solid #c8ccd1;
    margin:0 3rem;
}
.lista-footer{
    display:flex;
    margin:0 2rem;
}
.lista-footer li{
    margin:0 1.5rem;
}